/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2019, 1:06:17 AM
    Author     : caio
*/

.job-list-img{
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.reviews-car{
    float:left;
}

.parallax-bg{
    background:url('#{resource['img/parallax.jpeg']}');
    background-position: 50% 20%;
}

label.upload{
    float: left;
    font-family: Open Sans;
    font-size: 15px;
    color: #8b91dd;
    border: 2px solid #8b91dd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 40px;
    height: auto;
    position: inherit;
}
label.upload::before{
    content: none;
}
input.upload {
    display: none;
}

.revoke {
    color:#fb236a;
    border-color:#fb236a;
}
.revoke:hover{
    background: #fb236a !important;
    border-color:#fb236a;
}